<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>头部公共组件</title>
    <link rel="stylesheet" href="../css/resert.css" />
    <link rel="stylesheet" href="../header/header.css" />
  </head>
  <body>
    <div id="header_top">
      <div id="header_top_position">
        <div class="header_left_position">
          <img src="./img/header_left.png" alt="" />
          <p class="header_left_ab">西安 SKP XI'AN</p>
        </div>
        <div class="header_right_position">
          <img src="./img/header_right.png" alt="" />
          <div class="header_right_ab">
            <div><img src="../header/img/header_search.png" alt="" /></div>
            <div><img src="../header/img/header_person.png" alt="" /></div>
            <div><img src="../header/img/header_menu.png" alt="" /></div>
          </div>
        </div>
      </div>
      <div class="header_body">
        <img src="../img/header_bg2.png" alt="" />
        <img src="../img/header_bg3.png" alt="" />
        <img src="../img/header_bg1.png" alt="" />
      </div>
    </div>
  </body>
</html>
